body {
    background: #F3F5FC;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

header {
    display: flex;
    align-items: center;
    height: 10vh;
}

header img {
    height: auto;
    width: 16vw;
}

header h1 {
    color: #0A3871;
    font-size: 4vw;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.introduction-conteiner {
    height: 65vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.introduction-conteiner textarea {
    resize: none;
    height: 60%;
    width: 95%;
    border: none;
    border-radius: 5px;
    font-size: 5vw;
    font-weight: 400;
    margin-bottom: 2%;
    background: #F3F5FC;
    color: #052051;
    overflow:scroll;
    overflow-wrap: anywhere;
    overflow-clip-margin:initial;
}

.introduction-section textarea::placeholder {
    color: #052051;
}

.introduction-section textarea:focus-visible {
    outline: none;
}

.buttons-function {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90%;
    gap: 3vh;
}

.auxiliar-buttons {
    height: 5vh;
    width: 25vw;
    border: 1px solid #000;
    border-radius: 12px;
    color: #E9ECF8;
    box-shadow:  -1px -1px 2px #000, 1px 1px 2px #000;
}

.auxiliar-buttons:active {
    background: #ADB5BD;
    box-shadow: inset -1px -1px 2px #000, inset 1px 1px 2px #000, -1px -1px 2px #000, 1px 1px 2px #000;
    transform: scale(98%);
    transition: all 0.1s;
}

.icons-images {
    height: 50%;
    width: auto;
}

.bottom-interface {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.alert-to-user {
    display: flex;
    align-items: center;
    gap: 5px;
}


.alert-to-user img {
    height: 1em;
    width: auto;
}

.alert-to-user p {
    margin: .5em;
}

.buttons {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.buttons button {
    width: 35vw;
    height: 8vh;
    border-radius: 24px;
    font-size: 1em;
}

.encrypt-button {
    font-size: 18px;
    box-sizing: border-box;
    background: #0A3871;
    border: 1px solid #052051 ;
    color: #FFFFFF;
    transition: background 1s;
    box-shadow:  -1px -1px 2px #000, 1px 1px 2px #000;
}

.encrypt-button:active {
    background: #072B61;
    box-shadow: inset -1px -1px 2px #000, inset 1px 1px 2px #000, -1px -1px 2px #000, 1px 1px 2px #000;
    transform: scale(98%);
    transition: all 0.1s;
}

.decrypt-button {
    font-size: 18px;
    box-sizing: border-box;
    background: #F3F5FC;
    color: #0A3871;
    border: 1px solid #0A3871;
    box-shadow:  -1px -1px 2px #000, 1px 1px 2px #000;
}

.decrypt-button:active {
    background: #AAB2D5;
    color: black;
    box-shadow: inset -1px -1px 2px #000, inset 1px 1px 2px #000, -1px -1px 2px #000, 1px 1px 2px #000;
    transform: scale(98%);
    transition: all 0.1s;
}

.response-conteiner {
    width: 80vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    margin: 1vh 0;
    align-items: center;
    border-radius: 25px;
    justify-content: space-around;
    box-shadow: 1px 1px 4px #888888;
    background-color: #ffffffff;
}

.limit-text-conteiner {
    margin-top: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    box-sizing: border-box;
    overflow:scroll;
    overflow-wrap: anywhere;
    overflow-clip-margin:initial;
    text-align: center;
}

.provisional-image {
    display: none;
    height: auto;
    width: 80%;
}

.processed-text {
    font-weight: 700;
    margin: 0.5em 0;
}

.provisional-text {
    margin: 0.5em 0;
}

.copy-button {
    display: none;
    width: 80%;
    height: 8vh;
    border-radius: 24px;
    font-size: 1em;
    background: #FFFFFF;
    color: #0A3871;
    border: 1px solid #0A3871;
    margin-bottom: 1%;
    box-shadow:  -1px -1px 2px #000, 1px 1px 2px #000;
}

.copy-button:active {
    box-shadow: inset -1px -1px 2px #000, inset 1px 1px 2px #000, -1px -1px 2px #000, 1px 1px 2px #000;
    transform: scale(98%);
    transition: all 0.1s;
    background: #0A3871;
    color: #ffffff
}

footer{
    background: #052051;
    height: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p {
    color: #F3F5FC;
}

::-webkit-scrollbar {
    width: 5px;
    height: 3px;
    background: transparent;
}

::-webkit-scrollbar-track {
    background: transparent;
    color: transparent;
}

::-webkit-scrollbar-track-piece{
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(#609ED4,#356EA9);
    border-radius: 5px;
}

@media screen and (1023px < width) {
    header {
        padding-top: 1.6%;
    }

    header h1 {
        margin: 0;
        font-size: 6vh;
    }

    main {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 99vw;
    }

    section {
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: 84vh;
        gap: 2%;
    }

    .introduction-section {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 65%;
        height: 100%;
    }

    .introduction-conteiner{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .introduction-conteiner textarea {
        height: 60%;
        width: 80%;
        font-size: 4vh;
    }

    .buttons-function {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 80%;
        gap: 2vh;
    }

    .auxiliar-buttons {
        width: 6vw;
    }

    .bottom-interface {
        display: flex;
        flex-direction: column;
        width: 80%;
    }
    .buttons {
        width: 100%;
        height: 30%;
        font-size: 1em;
    }

    .response-section {
        width: 98%;
        height: 100%;
        display: flex;
        justify-content: center;
    }

    .response-conteiner {
        width: 80%;
        height: 95%;
    }

    .provisional-image {
        display: block;
    }

    .processed-text {
        font-size: 32px;
        color: #052051;
    }

    .provisional-text {
        font-size: 18px;
    }

    footer{
        width: 100vw;
        height: 2.75vh;
    }
}

@media screen and (width < 424px) {
    header h1 {
        font-size: 5vw;
    }

    header img {
        width: 25vw;
        height: auto;
    }

    .introduction-conteiner textarea {
        font-size: 3vh;
    }

    .buttons {
        flex-direction: column;
        width: 100%;
        gap: 10px;
    }

    .buttons button {
        width: 100%;
        height: 5vh;
        border-radius: 12px;
    }

    .response-conteiner {
        gap: 2px;
    }

    .copy-button {
        height: 5vh;
        margin: 4px 0;
        border-radius: 12px;
    }
}